<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- @pageDoc: 该文件为商品主页面, 主要用于买家查看和搜索二手车的功能
  页面逻辑:
    - 页面分为两块, 第一块为页面头, 第二块为页面主体
    - 页面头可以查看当前用户和系统导航
    - 页面主体主体展示不同种类的汽车, 点击汽车图片或者汽车的名称, 可以跳转至汽车详情页面.
  -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>皮卡丘二手车</title>
    <!-- 链接引入 bootstrap 的 css 样式 -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <!-- 链接引入 bootstrap 的 javascript 代码 -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
    <!-- 链接引入 jquery 的 javascript 代码 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <style>
      /* 页面css */
      #head {
        background-color: rgb(255, 249, 240);
      }

      #head * {
        background-color: rgb(255, 249, 240);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
      }

      body {
        background-color: rgb(255, 249, 240);
      }
    </style>
  </head>

  <body>
    <!-- 页面内容 -->
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <!-- 页头 -->
        <div id="head" class="row">
          <div class="row">
            <div class="col-md-6">
              <ol class="breadcrumb">
                <!-- 这里是页面导航栏， 注意各个页面之间的跳转 -->
                <li><a href="#">皮卡丘二手车市场</a></li>
                <li class="active">主页</li>
              </ol>
            </div>
            <div class="col-md-6">
              <!-- 已登录显示邮箱，未登录则显示跳转到登录页面或注册页面链接 -->
              <h4 style="text-align: right">用户邮箱</h4>
            </div>
          </div>
        </div>
        <div id="main">
          <div class="row">
            <div class="page-header">
              <h1>皮卡丘二手车市场<small>年轻人的第一辆车</small></h1>
            </div>
          </div>
          <div class="row" id="car-map-head">
            <div class="col-md-8">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">类别1</a></li>
                <li role="presentation"><a href="#">类别2</a></li>
                <li role="presentation"><a href="#">类别3</a></li>
                <li role="presentation"><a href="#">类别4</a></li>
                <!-- ... 这里就用一个循环， 把所有的汽车类别和相关信息表示在一个div中就可以了
                已经设置过， 一行有4个项目
                -->
              </ul>
            </div>
            <div class="col-md-4"></div>
          </div>
          <br />
          <div
            class="row"
            id="car-map-body"
            style="text-align: center; font-size: 16px; font-weight: bolder; border: 2px"
          >
            <div class="col-md-3" onclick="gotoCarInfo(this)" th:title="">
              <img
                src="https://cdn.jsdelivr.net/gh/Zranshi/CDN@1.45/2021.5.20/80438411_p0.png"
                alt="这是一个汽车图片"
                class="img-rounded"
                width="320"
                height="320"
                style="object-fit: cover"
              />
              <p>这是汽车名称</p>
            </div>
            <!-- ... 这里就用一个循环， 把所有的汽车图片和相关信息表示在一个div中就可以了
            已经设置过， 一行有4个项目
            -->
          </div>
        </div>
        <div id="foot"></div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <script>
      // 页面javascript
      function gotoCarInfo(that) {
        window.location.href = that.attributes.title.nodeValue;
      }
    </script>
  </body>
</html>
